@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: linear-gradient(to right bottom, rgba(135, 12, 241, 0.9), rgba(36, 73, 240, 0.9)), url('img/citas-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}